HELP.md
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/
src/main/resources/serviceAccountKey.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Java ###
*.jar
*.ear

.env
target/
jdk-17.0.10+7/
gradle/
test_output.txt
